{% extends 'blog/base.html' %}


{% block content %}

	<div class ="post">

		{% if post.published_date %}

			<div> {{ post.published_date }} </div>

		{% endif %}




		<h1> {{ post.title }} </h1>
		<p> {{ post.text|linebreaksbr }} </p>

		{% if user.is_authenticated %}

		<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>

		{% endif %}


	</div>



	<div>

	<h2> Comments </h2>

	</div>



	<table class = "table">

	<tr>

		<th> User </th>

		<th> Comment </th>

		<th> Date </th>

	</tr>


	{% for comment in comments %}

		<tr>



		<td>  {{ comment.author }}                  </td>

		<td> 	{{ comment.text|linebreaksbr }} </td>

		

		<td> {{ comment.created_date }} </td>


		</tr>





	{% endfor %}

	</table>



	<div>


 	<form method ="POST" class = "my-form"> {% csrf_token %}

		{{ form.as_p }}


		<button type="submit" class="save btn btn-default">Submit</button>
	</form>


	</div>


{% endblock %}